html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #dfe2a6;
    padding: 2em;
    transition: background-color 1.5s ease;
}

.container {
    box-sizing: border-box;
    width: 80%;
    margin: 0em auto;
    padding: 1em;
    box-shadow: 0px 5px 30px 10px #000;
    background: #fff;
    border: 1px solid #777;
}

.quote {
    margin: 0;
    text-align: justify;
    font-size: 1.6em;
    font-weight: 700;
}

.author {
    text-align: right;
    font-style: italic
}

.buttons {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.button {
    flex: 1 0 auto;
    padding: 0.5em;
    background-color: #6e6f53;
    border: 1px solid #6e6f53;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #f1f4b0;
    color: black;
    cursor: pointer;
}

.button:nth-child(1) {
    margin-right: 0.5em;
}

.button:nth-child(2) {
    margin-left: 0.5em;
}