<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Random Quotes</title>

    <link href="style.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="app.js"></script>

</head>

<body ng-app="quoteApp" ng-controller="quoteController as vm">

    <div class="container" ngcloak>

        <p class="quote">{{vm.results.quote}}</p>
        <p class="author">{{vm.results.author}}</p>

        <div class="buttons">
            <button class="button"
                    ng-click="vm.getQuote()">
                New Quote
            </button>
            <button class="button"
                    ng-click="vm.tweetQuote(vm.results.quote, vm.results.author)">
                Tweet
            </button>
        </div>

    </div>

</body>

</html>