<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Local Weather</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/font/weathericons-regular-webfont.svg" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>

</head>

<body ng-cloak
      ng-app="weatherApp"
      ng-controller="weatherController as vm"
      style="background: linear-gradient( {{vm.background }} ) center center no-repeat fixed">
    
    <div ng-if="!vm.weather.Weather">
        <i class="wi wi-cloud-down"></i>
        <p class="forecast">Fetching location...</p>
    </div>
    
    <div ng-if="vm.weather.Weather"
         class="container">
        <p class="location">{{vm.weather.location}}</p>
        <p class="forecast">{{vm.weather.Weather}}</p>
        <p class="forecast">{{vm.weather.Temp + vm.weather.units}}</p>
        
        <button class="weatherButton"
                ng-click="vm.changeUnits(vm.weather.Temp, vm.weather.units)">
            Change Units
        </button>
        
        <i class="wi {{vm.weather.icon}}"></i>

   </div>

</body>

</html>