<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Local Weather</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/font/weathericons-regular-webfont.svg" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app2.js"></script>

</head>

<body ng-cloak
      ng-app="weatherApp"
      ng-controller="weatherController as vm"
      style="background: linear-gradient( {{vm.background }} ) center center no-repeat fixed">
    
    <section>
    
        <div ng-if="!vm.weather.Weather">
            <div class="iconContainer">
                <i class="wi wi-cloud-down icon"></i>
            </div>
            <p class="forecast">Fetching location...</p>
        </div>

        <div ng-if="vm.weather.Weather" class="container">
            <p class="location">{{vm.weather.location}}</p>
            <p class="forecast">{{vm.weather.Weather}}</p>
            <p class="forecast">{{vm.weather.Temp + vm.weather.units}}</p>

            <button class="weatherButton"
                    ng-click="vm.changeUnits(vm.weather.Temp, vm.weather.units)">
                Change Units
            </button>

            <div class="iconContainer">
                <i class="wi {{vm.weather.icon}} icon"></i>
            </div>
            
        </div>
    </section>
    
    <footer>
        <p class="footer-credit">weather v1.0.1 : : by <a href="https://github.com/belcurv" target="_blank">belcurv</a>
            <a href="https://github.com/belcurv" target="_blank">
                <svg width="20" height="20" class="github-icon" viewBox="0 0 16 16" version="1.1" aria-hidden="true">
                    <path fill-rule="evenodd" 
                          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
            </a>
        </p>
        
        <br />

        <p class="footer-credit">Credit Erik Flowers for the <a href="https://erikflowers.github.io/weather-icons/" target="_blank">weather icons</a>. Source released under the MIT license. Website and documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.
        </p>
    </footer>

</body>
</html>